* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body{
    background: radial-gradient(#ff7070, #9c161d);
    height: 100vh;
}

header{
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.navlinks{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.navlinks li.select{
    opacity: 100%;
}

.navlinks li{
    display: inline-block;
    padding: 0px 50px;
    opacity: 60%;
    transition: 0.3s ease-out;
}

.navlinks li:hover{
    opacity: 100;
    transform: translateY(-2px);
}

.navlinks li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100vw;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.navlinks img {
    display: block;
    height: 20px; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.form__container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 600px;
}

.black__container, .white__container {
    flex:1;
    min-width: 450px;
    height: 100%;
}

.black__container {
    border-radius: 1rem;
    background-color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    color: white;
    padding: 5px;
    text-align: center;
}

th {
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

td {
    font-weight: bold;
    background-color: #222;
    font-size: 14px;
}

.nome {
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

tr:nth-child(odd) td {
    background-color: #000;
}


.white__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

.trackname__container h1{
    text-transform: uppercase;
    font-size: 48px;
}

.tracktime__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}

.tracktime__container p {
    font-size: 18px;
}

.addtracktime__container p{
    margin-top: 5px;
    font-size: 14px
}

.add {
    display: flex;
    gap:5px;
    margin-top: 10px;
}

.add input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.add button {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.add button:hover{
    background-color: #008c43;
    transform: translateY(-5px);
}

.info__container {
    opacity: 75%;
    font-size: 12px;
}

.social {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    height: 150px;
    border-radius: 1rem 1rem 0 0;
    color:#fff;
    transition: height 0.3s ease-out;
}

.social p{
    text-align: center;
    font-size: 12px;
    opacity: 60%;
}

.social-icons{
    padding: 1rem;
    display: flex;
    gap: 5px;
}

.social-icons a {
    color: #fff;
    opacity: 60%;
    border: 1px solid #fff;
    border-radius: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-out;
}

.social-icons a:hover{
    scale: 1.1;
    opacity: 100%;
}

.icon {
    color: #fff;
}