* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body{
    background: radial-gradient(#ff7070, #9c161d);
    height: 100vh;
}

header{
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.navlinks{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.navlinks li.select{
    opacity: 100%;
}

.navlinks li{
    display: inline-block;
    padding: 0px 50px;
    opacity: 60%;
    transition: 0.3s ease-out;
}

.navlinks li:hover{
    opacity: 100;
    transform: translateY(-2px);
}

.navlinks li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100vw;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.navlinks img {
    display: block;
    height: 20px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.card__container {
    padding-block: 5rem;
    
}

.card__content {
    margin-inline: 2rem;
    border-radius: 25px;
    overflow: hidden;
}

.card__article{
    margin: 20px;
    width: 300px;
    max-width: 300px;
    flex-shrink: 0;
    border-radius: 25px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-out;
}

.card__article:hover{
    transform: translateY(-10px);
}

.card__img {
    position: relative;
    background-color: #000;
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card__data {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.trackimg {
    display: block;
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-out;
}

.trackimg:hover {
    transform: translateY(-10px);
}


.trackname {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.trackloc {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card__button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    padding: .75rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.card__button:hover {
    transform: translateY(-5px);
    background-color: #008c43;
}

@media screen and (max-width: 320px){
    .card__data{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .card__content{
        margin-inline: 3rem;
    }

}

@media screen and (min-width: 1120px){
    .card__container{
        max-width: 1120px;
        
    }
}